<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fnmm2021">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo7"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity
            android:name=".ClassesGuardadas.TestesActivity"
            android:label="@string/title_activity_testes"
            android:theme="@style/Tema">

        </activity>
        <activity android:name=".TabelaTuberculose" />
        <activity android:name=".Pesquisa_Farmacos" />
        <activity android:name=".AbreviaturasAcronimos" />
        <activity android:name=".SobreApp" />
        <activity
            android:name=".PesquisasRecentes"
            android:parentActivityName=".PaginaInicial" />
        <activity
            android:name=".FarmacoIndividualActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CategoriasActivity"
            android:parentActivityName=".PaginaInicial" />
        <activity
            android:name=".FormasActivity"
            android:parentActivityName=".PaginaInicial" />
        <activity
            android:name=".FarmacosActivity"
            android:parentActivityName=".PaginaInicial" />
        <activity
            android:name=".CapitulosActivity"
            android:parentActivityName=".PaginaInicial" />
        <activity android:name=".ClassesGuardadas.ActividadeTeste" />
        <activity
            android:name=".PaginaInicial"
            android:theme="@style/Tema">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>